{
    "extends": "airbnb",
    "parserOptions": {
        "ecmaVersion": 8,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    },
    "rules": {
        "comma-dangle": [
            "error",
            "never"
        ],
        "no-unused-vars": [
            "error",
            {
                "vars": "local",
                "args": "none"
            }
        ],
        "indent": [
            "error",
            4
        ],
        "quotes": [
            "error",
            "double"
        ],
        "func-names": [
            "error",
            "never"
        ],
        "no-underscore-dangle": [
            "error",
            {
                "allow": [
                    "_id",
                    "_creator"
                ]
            }
        ],
        "arrow-body-style": [
            "warn",
            "as-needed",
            {
                "requireReturnForObjectLiteral": true
            }
        ],
        "max-len": 1,
        "no-restricted-globals": [
            "warn",
            "event",
            "fdescribe"
        ],
        "object-curly-newline": [
            "error",
            {
                "ImportDeclaration": "never",
                "ExportDeclaration": {
                    "multiline": true,
                    "minProperties": 3
                }
            }
        ],
        "react/jsx-filename-extension": 0,
        "react/jsx-indent": [
            2,
            4
        ],
        "react/destructuring-assignment": [
            "error",
            "never"
        ],

        "linebreak-style": ["error", "unix"],
        "react/prop-types": [
            2,
            { 
                "ignore": [
                    "history"
                ]
            }
        ]
    }
}