@import url("https://fonts.googleapis.com/css?family=Righteous");

body {
  header {
    margin-top: 10px;
    font-family: Righteous;
  }
  #top {
    margin-bottom: 10px;
  }
  table {
    color: #393f4d;
  }
  background: #7dce94;
}